$primary-color: #673ab7;
//$primary-color-light:


.header-image {
  height: 400px;
  background-image: url("../header-image.jpg");
  background-position: 0% 20%;
  margin-bottom: -150px;
}

.contact-card-header {
  height: 130px;
  margin-bottom: -100px;
  background-color: $primary-color;
}

.navbar {
  background-color: $primary-color;
}

.btn-send {
  background-color: $primary-color;
}